<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack1.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,99},{95,95}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,15},{95,95}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>attack2.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{95,95}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>circle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,256},{42,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{42,42}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>circle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,256},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{42,42}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>skill1.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,196},{58,58}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{58,58}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>skill2.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,196},{58,58}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{58,58}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>steelWheel1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,21},{130,130}}</string>
                <key>sourceSize</key>
                <string>{172,172}</string>
            </dict>
            <key>steelWheel2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,130}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,22},{130,130}}</string>
                <key>sourceSize</key>
                <string>{172,172}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>steelWheel.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:427bdae055d68c9cefc63d7fb16450fa$</string>
            <key>textureFileName</key>
            <string>steelWheel.pvr.ccz</string>
        </dict>
    </dict>
</plist>
