<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>idle/rwx_idle_00.png</key>
			<dict>
				<key>width</key>
				<integer>96</integer>
				<key>height</key>
				<integer>166</integer>
				<key>originalWidth</key>
				<integer>164</integer>
				<key>originalHeight</key>
				<integer>177</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-14</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>idle/rwx_idle_01.png</key>
			<dict>
				<key>width</key>
				<integer>85</integer>
				<key>height</key>
				<integer>166</integer>
				<key>originalWidth</key>
				<integer>164</integer>
				<key>originalHeight</key>
				<integer>177</integer>
				<key>x</key>
				<integer>98</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-14.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>idle/rwx_idle_02.png</key>
			<dict>
				<key>width</key>
				<integer>91</integer>
				<key>height</key>
				<integer>166</integer>
				<key>originalWidth</key>
				<integer>164</integer>
				<key>originalHeight</key>
				<integer>177</integer>
				<key>x</key>
				<integer>185</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-13.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>idle/rwx_idle_03.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>167</integer>
				<key>originalWidth</key>
				<integer>164</integer>
				<key>originalHeight</key>
				<integer>177</integer>
				<key>x</key>
				<integer>278</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-13</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>walk/rwx_walk_00.png</key>
			<dict>
				<key>width</key>
				<integer>123</integer>
				<key>height</key>
				<integer>163</integer>
				<key>originalWidth</key>
				<integer>164</integer>
				<key>originalHeight</key>
				<integer>177</integer>
				<key>x</key>
				<integer>380</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-13.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>walk/rwx_walk_01.png</key>
			<dict>
				<key>width</key>
				<integer>117</integer>
				<key>height</key>
				<integer>164</integer>
				<key>originalWidth</key>
				<integer>164</integer>
				<key>originalHeight</key>
				<integer>177</integer>
				<key>x</key>
				<integer>505</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-11.5</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>walk/rwx_walk_02.png</key>
			<dict>
				<key>width</key>
				<integer>125</integer>
				<key>height</key>
				<integer>162</integer>
				<key>originalWidth</key>
				<integer>164</integer>
				<key>originalHeight</key>
				<integer>177</integer>
				<key>x</key>
				<integer>624</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-15.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>walk/rwx_walk_03.png</key>
			<dict>
				<key>width</key>
				<integer>129</integer>
				<key>height</key>
				<integer>161</integer>
				<key>originalWidth</key>
				<integer>164</integer>
				<key>originalHeight</key>
				<integer>177</integer>
				<key>x</key>
				<integer>751</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-15.5</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>attack0/rwx_attack_01.png</key>
			<dict>
				<key>width</key>
				<integer>99</integer>
				<key>height</key>
				<integer>166</integer>
				<key>originalWidth</key>
				<integer>164</integer>
				<key>originalHeight</key>
				<integer>177</integer>
				<key>x</key>
				<integer>882</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-10.5</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>attack0/rwx_attack_02.png</key>
			<dict>
				<key>width</key>
				<integer>107</integer>
				<key>height</key>
				<integer>161</integer>
				<key>originalWidth</key>
				<integer>164</integer>
				<key>originalHeight</key>
				<integer>177</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>169</integer>
				<key>offsetX</key>
				<real>-14.5</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>attack0/rwx_attack_03.png</key>
			<dict>
				<key>width</key>
				<integer>130</integer>
				<key>height</key>
				<integer>154</integer>
				<key>originalWidth</key>
				<integer>164</integer>
				<key>originalHeight</key>
				<integer>177</integer>
				<key>x</key>
				<integer>109</integer>
				<key>y</key>
				<integer>169</integer>
				<key>offsetX</key>
				<real>14</real>
				<key>offsetY</key>
				<real>-4.5</real>
			</dict>
			<key>attack0/rwx_attack_04.png</key>
			<dict>
				<key>width</key>
				<integer>142</integer>
				<key>height</key>
				<integer>150</integer>
				<key>originalWidth</key>
				<integer>164</integer>
				<key>originalHeight</key>
				<integer>177</integer>
				<key>x</key>
				<integer>241</integer>
				<key>y</key>
				<integer>169</integer>
				<key>offsetX</key>
				<real>10</real>
				<key>offsetY</key>
				<real>-7.5</real>
			</dict>
			<key>attack1/rwx_attack1_01.png</key>
			<dict>
				<key>width</key>
				<integer>90</integer>
				<key>height</key>
				<integer>169</integer>
				<key>originalWidth</key>
				<integer>164</integer>
				<key>originalHeight</key>
				<integer>177</integer>
				<key>x</key>
				<integer>385</integer>
				<key>y</key>
				<integer>169</integer>
				<key>offsetX</key>
				<real>-15</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>attack1/rwx_attack1_02.png</key>
			<dict>
				<key>width</key>
				<integer>82</integer>
				<key>height</key>
				<integer>168</integer>
				<key>originalWidth</key>
				<integer>164</integer>
				<key>originalHeight</key>
				<integer>177</integer>
				<key>x</key>
				<integer>477</integer>
				<key>y</key>
				<integer>169</integer>
				<key>offsetX</key>
				<real>-13</real>
				<key>offsetY</key>
				<real>4.5</real>
			</dict>
			<key>attack1/rwx_attack1_03.png</key>
			<dict>
				<key>width</key>
				<integer>105</integer>
				<key>height</key>
				<integer>167</integer>
				<key>originalWidth</key>
				<integer>164</integer>
				<key>originalHeight</key>
				<integer>177</integer>
				<key>x</key>
				<integer>561</integer>
				<key>y</key>
				<integer>169</integer>
				<key>offsetX</key>
				<real>5.5</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>attack1/rwx_attack1_04.png</key>
			<dict>
				<key>width</key>
				<integer>114</integer>
				<key>height</key>
				<integer>164</integer>
				<key>originalWidth</key>
				<integer>164</integer>
				<key>originalHeight</key>
				<integer>177</integer>
				<key>x</key>
				<integer>668</integer>
				<key>y</key>
				<integer>169</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>5.5</real>
			</dict>
			<key>hurt/rwx_hurt_00.png</key>
			<dict>
				<key>width</key>
				<integer>90</integer>
				<key>height</key>
				<integer>166</integer>
				<key>originalWidth</key>
				<integer>164</integer>
				<key>originalHeight</key>
				<integer>177</integer>
				<key>x</key>
				<integer>784</integer>
				<key>y</key>
				<integer>169</integer>
				<key>offsetX</key>
				<real>-17</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>attack_fx/attack_fx00.png</key>
			<dict>
				<key>width</key>
				<integer>114</integer>
				<key>height</key>
				<integer>114</integer>
				<key>originalWidth</key>
				<integer>114</integer>
				<key>originalHeight</key>
				<integer>114</integer>
				<key>x</key>
				<integer>876</integer>
				<key>y</key>
				<integer>169</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>attack_fx/attack_fx01.png</key>
			<dict>
				<key>width</key>
				<integer>179</integer>
				<key>height</key>
				<integer>260</integer>
				<key>originalWidth</key>
				<integer>425</integer>
				<key>originalHeight</key>
				<integer>275</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>340</integer>
				<key>offsetX</key>
				<real>-102</real>
				<key>offsetY</key>
				<real>-7.5</real>
			</dict>
			<key>attack_fx/attack_fx02.png</key>
			<dict>
				<key>width</key>
				<integer>201</integer>
				<key>height</key>
				<integer>245</integer>
				<key>originalWidth</key>
				<integer>425</integer>
				<key>originalHeight</key>
				<integer>275</integer>
				<key>x</key>
				<integer>181</integer>
				<key>y</key>
				<integer>340</integer>
				<key>offsetX</key>
				<real>-101</real>
				<key>offsetY</key>
				<real>-9</real>
			</dict>
			<key>attack_fx/attack_fx03.png</key>
			<dict>
				<key>width</key>
				<integer>229</integer>
				<key>height</key>
				<integer>246</integer>
				<key>originalWidth</key>
				<integer>425</integer>
				<key>originalHeight</key>
				<integer>275</integer>
				<key>x</key>
				<integer>384</integer>
				<key>y</key>
				<integer>340</integer>
				<key>offsetX</key>
				<real>-85</real>
				<key>offsetY</key>
				<real>14.5</real>
			</dict>
			<key>attack_fx/attack_fx04.png</key>
			<dict>
				<key>width</key>
				<integer>264</integer>
				<key>height</key>
				<integer>239</integer>
				<key>originalWidth</key>
				<integer>425</integer>
				<key>originalHeight</key>
				<integer>275</integer>
				<key>x</key>
				<integer>615</integer>
				<key>y</key>
				<integer>340</integer>
				<key>offsetX</key>
				<real>-78.5</real>
				<key>offsetY</key>
				<real>18</real>
			</dict>
			<key>attack_fx/attack_fx05.png</key>
			<dict>
				<key>width</key>
				<integer>269</integer>
				<key>height</key>
				<integer>181</integer>
				<key>originalWidth</key>
				<integer>425</integer>
				<key>originalHeight</key>
				<integer>275</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>602</integer>
				<key>offsetX</key>
				<real>-50</real>
				<key>offsetY</key>
				<real>16</real>
			</dict>
			<key>attack_fx/attack_fx06.png</key>
			<dict>
				<key>width</key>
				<integer>313</integer>
				<key>height</key>
				<integer>201</integer>
				<key>originalWidth</key>
				<integer>425</integer>
				<key>originalHeight</key>
				<integer>275</integer>
				<key>x</key>
				<integer>271</integer>
				<key>y</key>
				<integer>602</integer>
				<key>offsetX</key>
				<real>-19</real>
				<key>offsetY</key>
				<real>20</real>
			</dict>
			<key>attack_fx/attack_fx07.png</key>
			<dict>
				<key>width</key>
				<integer>381</integer>
				<key>height</key>
				<integer>226</integer>
				<key>originalWidth</key>
				<integer>425</integer>
				<key>originalHeight</key>
				<integer>275</integer>
				<key>x</key>
				<integer>586</integer>
				<key>y</key>
				<integer>602</integer>
				<key>offsetX</key>
				<real>22</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>attack_fx1/attack_di00.png</key>
			<dict>
				<key>width</key>
				<integer>135</integer>
				<key>height</key>
				<integer>71</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>75</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>830</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>attack_fx1/attack_di01.png</key>
			<dict>
				<key>width</key>
				<integer>125</integer>
				<key>height</key>
				<integer>68</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>75</integer>
				<key>x</key>
				<integer>137</integer>
				<key>y</key>
				<integer>830</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>attack_fx1/attack_di02.png</key>
			<dict>
				<key>width</key>
				<integer>133</integer>
				<key>height</key>
				<integer>69</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>75</integer>
				<key>x</key>
				<integer>264</integer>
				<key>y</key>
				<integer>830</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>attack_fx1/attack_di03.png</key>
			<dict>
				<key>width</key>
				<integer>133</integer>
				<key>height</key>
				<integer>72</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>75</integer>
				<key>x</key>
				<integer>399</integer>
				<key>y</key>
				<integer>830</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>attack_fx1/attack_di04.png</key>
			<dict>
				<key>width</key>
				<integer>126</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>75</integer>
				<key>x</key>
				<integer>534</integer>
				<key>y</key>
				<integer>830</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>attack_fx2/attack_bao07.png</key>
			<dict>
				<key>width</key>
				<integer>211</integer>
				<key>height</key>
				<integer>147</integer>
				<key>originalWidth</key>
				<integer>350</integer>
				<key>originalHeight</key>
				<integer>275</integer>
				<key>x</key>
				<integer>662</integer>
				<key>y</key>
				<integer>830</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>-20</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>rwx0.png</string>
			<key>realTextureFileName</key>
			<string>rwx0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>