<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>idle/tbs_idle_000.png</key>
			<dict>
				<key>width</key>
				<integer>82</integer>
				<key>height</key>
				<integer>92</integer>
				<key>originalWidth</key>
				<integer>96</integer>
				<key>originalHeight</key>
				<integer>103</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-5.5</real>
			</dict>
			<key>idle/tbs_idle_001.png</key>
			<dict>
				<key>width</key>
				<integer>84</integer>
				<key>height</key>
				<integer>92</integer>
				<key>originalWidth</key>
				<integer>96</integer>
				<key>originalHeight</key>
				<integer>103</integer>
				<key>x</key>
				<integer>84</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>-5.5</real>
			</dict>
			<key>idle/tbs_idle_002.png</key>
			<dict>
				<key>width</key>
				<integer>89</integer>
				<key>height</key>
				<integer>92</integer>
				<key>originalWidth</key>
				<integer>96</integer>
				<key>originalHeight</key>
				<integer>103</integer>
				<key>x</key>
				<integer>170</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-3.5</real>
				<key>offsetY</key>
				<real>-5.5</real>
			</dict>
			<key>idle/tbs_idle_003.png</key>
			<dict>
				<key>width</key>
				<integer>89</integer>
				<key>height</key>
				<integer>92</integer>
				<key>originalWidth</key>
				<integer>96</integer>
				<key>originalHeight</key>
				<integer>103</integer>
				<key>x</key>
				<integer>261</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-2.5</real>
				<key>offsetY</key>
				<real>-5.5</real>
			</dict>
			<key>walk/tbs_walk_000.png</key>
			<dict>
				<key>width</key>
				<integer>77</integer>
				<key>height</key>
				<integer>89</integer>
				<key>originalWidth</key>
				<integer>96</integer>
				<key>originalHeight</key>
				<integer>103</integer>
				<key>x</key>
				<integer>352</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>walk/tbs_walk_001.png</key>
			<dict>
				<key>width</key>
				<integer>74</integer>
				<key>height</key>
				<integer>86</integer>
				<key>originalWidth</key>
				<integer>96</integer>
				<key>originalHeight</key>
				<integer>103</integer>
				<key>x</key>
				<integer>431</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-7</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>walk/tbs_walk_002.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>88</integer>
				<key>originalWidth</key>
				<integer>96</integer>
				<key>originalHeight</key>
				<integer>103</integer>
				<key>x</key>
				<integer>507</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-6</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>walk/tbs_walk_003.png</key>
			<dict>
				<key>width</key>
				<integer>85</integer>
				<key>height</key>
				<integer>89</integer>
				<key>originalWidth</key>
				<integer>96</integer>
				<key>originalHeight</key>
				<integer>103</integer>
				<key>x</key>
				<integer>589</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-3.5</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>walk/tbs_walk_004.png</key>
			<dict>
				<key>width</key>
				<integer>76</integer>
				<key>height</key>
				<integer>91</integer>
				<key>originalWidth</key>
				<integer>96</integer>
				<key>originalHeight</key>
				<integer>103</integer>
				<key>x</key>
				<integer>676</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-7</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>walk/tbs_walk_005.png</key>
			<dict>
				<key>width</key>
				<integer>77</integer>
				<key>height</key>
				<integer>92</integer>
				<key>originalWidth</key>
				<integer>96</integer>
				<key>originalHeight</key>
				<integer>103</integer>
				<key>x</key>
				<integer>754</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-5.5</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>attack/tbs_attack_000.png</key>
			<dict>
				<key>width</key>
				<integer>77</integer>
				<key>height</key>
				<integer>93</integer>
				<key>originalWidth</key>
				<integer>96</integer>
				<key>originalHeight</key>
				<integer>103</integer>
				<key>x</key>
				<integer>833</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-5</real>
			</dict>
			<key>attack/tbs_attack_001.png</key>
			<dict>
				<key>width</key>
				<integer>70</integer>
				<key>height</key>
				<integer>103</integer>
				<key>originalWidth</key>
				<integer>96</integer>
				<key>originalHeight</key>
				<integer>103</integer>
				<key>x</key>
				<integer>912</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>attack/tbs_attack_002.png</key>
			<dict>
				<key>width</key>
				<integer>81</integer>
				<key>height</key>
				<integer>75</integer>
				<key>originalWidth</key>
				<integer>96</integer>
				<key>originalHeight</key>
				<integer>103</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>105</integer>
				<key>offsetX</key>
				<real>5.5</real>
				<key>offsetY</key>
				<real>-14</real>
			</dict>
			<key>attack/tbs_attack_003.png</key>
			<dict>
				<key>width</key>
				<integer>63</integer>
				<key>height</key>
				<integer>75</integer>
				<key>originalWidth</key>
				<integer>96</integer>
				<key>originalHeight</key>
				<integer>103</integer>
				<key>x</key>
				<integer>83</integer>
				<key>y</key>
				<integer>105</integer>
				<key>offsetX</key>
				<real>4.5</real>
				<key>offsetY</key>
				<real>-14</real>
			</dict>
			<key>hurt/tbs_attack_000.png</key>
			<dict>
				<key>width</key>
				<integer>69</integer>
				<key>height</key>
				<integer>84</integer>
				<key>originalWidth</key>
				<integer>96</integer>
				<key>originalHeight</key>
				<integer>103</integer>
				<key>x</key>
				<integer>148</integer>
				<key>y</key>
				<integer>105</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-9.5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>tbs0.png</string>
			<key>realTextureFileName</key>
			<string>tbs0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>